<?xml version="1.0" ?>
<File Name="config.xml">
    <Data Name="IDs" Num="0">
        <Definition />
        <Numbers>
            <Int Num="123" />
            <Int Num="125" />
        </Numbers>
    </Data>
    <Data Name="ID index" Num="0">
        <Definition />
        <Numbers>
            <Int Num="0" />
        </Numbers>
    </Data>
    <Data Name="number of takes" Num="0">
        <Definition />
        <Numbers>
            <Int Num="3" />
        </Numbers>
    </Data>
    <Data Name="sensor data indices" Num="0">
        <Definition />
        <Numbers>
            <Int Num="6" />
            <Int Num="5" />
            <Int Num="7" />
        </Numbers>
    </Data>
    <Data Name="energy frame size" Num="0">
        <Definition />
        <Numbers>
            <Int Num="5" />
        </Numbers>
    </Data>
    <Data Name="verbosity" Num="0">
        <Definition />
        <Numbers>
            <Int Num="0" />
        </Numbers>
    </Data>
    <Data Name="activity file" Num="0">
        <Definition>
            <String Val="activity.xml" />
        </Definition>
        <Numbers />
    </Data>
    <Data Name="sensor format" Num="0">
        <Definition>
            <String Val="DX5;ccsss-s-s-ssssss" />
        </Definition>
        <Numbers />
    </Data>
    <Data Name="sensor devices" Num="0">
        <Definition>
            <String Val="/dev/rfcomm0" />
            <String Val="/dev/rfcomm1" />
        </Definition>
        <Numbers />
    </Data>
    <Data Name="classification names" Num="0">
        <Definition>
            <String Val="left" />
            <String Val="right" />
            <String Val="jump" />
            <String Val="fire" />
            <String Val="duck" />
        </Definition>
        <Numbers />
    </Data>
    <Data Name="use mean" Num="0">
        <Definition />
        <Numbers>
            <Int Num="1" />
        </Numbers>
    </Data>
    <Data Name="number of mean window chunks" Num="0">
        <Definition />
        <Numbers>
            <Int Num="2" />
        </Numbers>
    </Data>
    <Data Name="use standard deviation" Num="0">
        <Definition />
        <Numbers>
            <Int Num="1" />
        </Numbers>
    </Data>
    <Data Name="number of sd window chunks" Num="0">
        <Definition />
        <Numbers>
            <Int Num="1" />
        </Numbers>
    </Data>
    <Data Name="use mean crossing rate" Num="0">
        <Definition />
        <Numbers>
            <Int Num="0" />
        </Numbers>
    </Data>
    <Data Name="number of mcr window chunks" Num="0">
        <Definition />
        <Numbers>
            <Int Num="1" />
        </Numbers>
    </Data>
    <Data Name="compare gesture length" Num="0">
        <Definition />
        <Numbers>
            <Int Num="1" />
        </Numbers>
    </Data>
    <Data Name="gesture length tolerance percentage" Num="0">
        <Definition />
        <Numbers>
            <Int Num="50" />
        </Numbers>
    </Data>
    <Data Name="classification threshold percentage" Num="0">
        <Definition />
        <Numbers>
            <Int Num="60" />
        </Numbers>
    </Data>
    <Data Name="continous classification" Num="0">
        <Definition />
        <Numbers>
            <Int Num="1" />
        </Numbers>
    </Data>
    <Data Name="repercussion" Num="0">
        <Definition />
        <Numbers>
            <Int Num="300" />
        </Numbers>
    </Data>
    <Data Name="xml subdirectory" Num="0">
        <Definition>
            <String Val="../XML/" />
        </Definition>
        <Numbers />
    </Data>
</File>
